jaxrl_m/

# Python 编译生成的字节码文件
__pycache__/
*.py[cod]
*$py.class

# 打包、分发相关
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg-info/

# 虚拟环境目录
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 编辑器/IDE 相关
.idea/
.vscode/

# 日志文件
*.log
